{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <img src="" alt="logo">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Anasayfa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" href="#">Trendler</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kategoriler
                </a>
                <ul class="dropdown-menu">
                  {% for kategori in category  %}
                  <li><hr class="dropdown-divider"></li>

                  <li>
                    <a class="dropdown-item" href="/kategori/{{kategori.id}}/">

                  </a>{{kategori.title}}</li>
                  {% endfor %}     
                </ul>
              </li>
              <li class="nav-{">
                <a class="nav-link active" aria-current="page" href="#">İletişim</a>
              </li>
            </ul>
            
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <main class="mt-4 mb-5">
        <div class="container">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-8 mb-4">
              <!--Section: Post data-mdb-->
              <section class="border-bottom mb-4">
                <img src="{{post.postImg.url}}"
                  class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
    
                <div class="row align-items-center mb-4">
                  <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (23).jpg" class="rounded-5 shadow-1-strong me-2"
                      height="35" alt="" loading="lazy" />
                    <span> Published <u>15.07.2020</u> by</span>
                    <a href="" class="text-dark">Anna</a>
                  </div>
    
                  <div class="col-lg-6 text-center text-lg-end">
                    <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                      <i class="fab fa-facebook-f"></i>
                    </button>
                    <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                      <i class="fab fa-twitter"></i>
                    </button>
                    <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                      <i class="fab fa-linkedin"></i>
                    </button>
                    <button type="button" class="btn btn-primary px-3 me-1">
                      <i class="fas fa-comments"></i>
                    </button>
                  </div>
                </div>
              </section>
              <p><strong class="text-white">{{post.postTitle}}</strong></p>
              <section>
                <p class="text-white">
                  {{post.postText}}
                </p>

                <section class="comment-card">
                  <div class="container my-5 py-5">
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-12 col-lg-10 col-xl-8">

                    {% for i in comment  %}
                        
                        <div class="card" style="background-color:#6293D9;">
                          <div class="card-body">
                            <div class="d-flex flex-start align-items-center">
                              <img class="rounded-circle shadow-1-strong me-3"
                              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                              height="60" />
                              <div>
                                <h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
                                <p class="text-muted small mb-0">
                                  Shared publicly - Jan 2020
                                </p>
                              </div>
                            </div>
                            
                            <p class="mt-3 mb-4 pb-2 text-white">
                             {{i.commentText}}
                            </p>
                            
                            <div class="small d-flex justify-content-start">
                              <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-thumbs-up me-2"></i>
                                <p class="mb-0">Like</p>
                              </a>
                              <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-comment-dots me-2"></i>
                                <p class="mb-0">Comment</p>
                              </a>
                              <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fas fa-share me-2"></i>
                                <p class="mb-0">Share</p>
                              </a>
                            </div>
                            <div class="d-flex justify-content-end">
                              <button type="button" class="btn btn-danger btn-sm">Sil</button>
                            </div>
                          </div>
                        </div>
                          {% endfor %}
                          <div class="text-center text-white mt-3" >
                            <h4>Yorum Yap</h4>
                          </div>
                          <form class="card-footer py-3 border-0" method="POST">
                            {% csrf_token %}
                            <div class="d-flex flex-start w-100">
                              <img class="rounded-circle shadow-1-strong me-3"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                                height="40" />
                              <div class="form-outline w-100">
                                <input class="form-control" id="textAreaExample" rows="4"
                                  style="background: #fff;" name="comment">
                                </input>
                              </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Gönder</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>