body{
    background-color: #6293D9;
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient( 130deg,#A570F8,#778AF0,#70CCF8);
}

.post-card{
    color: white;
    position: relative;
    background-color: #70CCF8;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-hero{
    text-decoration: none;
}

.comment-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.text-primary,.text-muted{
    color: white!important;
}